* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    cursor: crosshair;
}

body {
    overflow: hidden;
}

#movable-box {
  position: absolute;
  width: 48px;
  height: 48px;
  background: #534AB7;
  border-radius: 8px;
}